
      footer{
        background-color: black;
        color: rgb(239, 237, 237);
      }
      
      #claseb{
          background-color: white;

      }
      #tituloP{
          color: rgb(255, 255, 255);
          font-weight: bold;
           margin-top: 30px;
           margin-left: -20px;

      }
      #tituloPB{
          color: white;
          font-weight: bold;
          font-size: 3em;
      }
      